{% extends 'base.html.twig' %}

{% block title %}Liste des consignes
{% endblock %}

{% block body %}

	<h1>Liste des consignes</h1>
	<a href="{{ path('app_theme_add_consigne', {'id': theme.id } ) }}">Créer une nouvelle consigne</a>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Point</th>
				<th>Label</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for consigne in consignes %}
				<tr>
					<td>{{ consigne.id }}</td>
					<td>{{ consigne.point }}</td>
					<td>{{ consigne.label }}</td>
					<td>
						<a href="{{ path('app_consigne_show', {'id': consigne.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>
						<a href="{{ path('app_consigne_edit', {'id': consigne.id}) }}">
							<i class="fa-solid fa-file-pen"></i>
						</a>
						<a href="{{ path('app_consigne_list_critere', {'id': consigne.id }) }}">
							<i class="fa-solid fa-folder-tree"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Pas d'enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_categorie_list_themes', {'idnorme': norme.id , 'id': categorie.id}) }}">Retour à la liste des thèmes</a>

{% endblock %}
