{% extends 'base.html.twig' %}

{% block title %}Consigne
{% endblock %}

{% block body %}
	<h1>Consigne</h1>

	<table>
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ consigne.id }}</td>
			</tr>
			<tr>
				<th>Point</th>
				<td>{{ consigne.point }}</td>
			</tr>
			<tr>
				<th>Label</th>
				<td>{{ consigne.label }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_theme_list_consigne', {'id': consigne.idTheme.id }) }}">Retour à la liste des consignes</a>

	<a href="{{ path('app_consigne_edit', {'id': consigne.id}) }}">Modifier</a>

	{{ include('consigne/_delete_form.html.twig') }}
{% endblock %}
