{% extends 'base.html.twig' %}

{% block title %}Hello TestTheoriqueController!
{% endblock %}

{% block body %}
	<h1>Tests théoriques</h1>
	<h2>Liste des dossiers / candidats</h2>
	<div class="accordion accordion-flush" id="accordionFlushExample" width="80%">
		{% for dossier in dossiers %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-{{ dossier.id }}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ dossier.id }}" aria-expanded="false" aria-controls="flush-collapse{{ dossier.id }}">
						{{ dossier.numDossier }}
						-
						{{ dossier.idClient }}
						- Du
						{{ dossier.dateDebut|date("m/d/Y") }}
						au
						{{ dossier.dateFin|date("m/d/Y") }}
						-
						{{ dossier.idNorme }}
						-
						{{ dossier.type }}
					</button>
				</h2>
				<div id="flush-collapse{{ dossier.id }}" class="accordion-collapse collapse" aria-labelledby="flush-{{ dossier.id }}" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<table>
							<tr>
								<th>Candidats</th>
								<th>Tests disponibles</th>
								<th>Test réalisé</th>
								<th>Date examen</th>
								<th>Résultat</th>
							</tr>
							{% for candidat in candidats %}
								{% if dossier.id == candidat.idDossier.id %}
									<tr>
										<td>
											{{ candidat.nomCandidat }}
											-
											{{ candidat.prenomCandidat }}
										</td>
										<td>
											{% for quiz in dossier.idNorme.quizzes %}
												<a href="{{ path('app_frontend_test_theorique_start', {'id': quiz.id, 'id_candidat': candidat.id}) }}">
													{{ quiz.intitule }}
												</a>
											{% endfor %}
										</td>
										<td>
											{% for resultat in candidat.userQuizResults %}
												{{ resultat.quiz.intitule }}<br>
												{% endfor %}
											</td>
										</td>
										<td></td>
										<td></td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
