{% extends 'base.html.twig' %}

{% block title %}Hello TestTheoriqueController!
{% endblock %}

{% block body %}
	<h1>Tests théoriques</h1>
	<h2>Liste des dossiers / candidats</h2>
	<i class="fa-solid fa-trash-can "></i>
	= Suppression -
	<i class="fa-solid fa-file-pdf"></i>
	Résultats au format PDF
	<div class="accordion accordion-flush" id="accordionFlushExample" width="80%">
		{% for dossier in dossiers %}
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-{{ dossier.id }}">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ dossier.id }}" aria-expanded="false" aria-controls="flush-collapse{{ dossier.id }}">
						{{ dossier.numDossier }}
						-
						{{ dossier.idClient }}
						- Du
						{{ dossier.dateDebut|date("d/m/Y") }}
						au
						{{ dossier.dateFin|date("d/m/Y") }}
						-
						{{ dossier.idNorme }}
						-
						{{ dossier.type }}
					</button>
				</h2>
				<div id="flush-collapse{{ dossier.id }}" class="accordion-collapse collapse" aria-labelledby="flush-{{ dossier.id }}" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						<table>
							<tr>
								<th>Candidats</th>
								<th>Tests disponibles</th>
								<th>Test réalisé - Date - Résultat</th>
							</tr>
							{% for candidat in candidats %}
								{% if dossier.id == candidat.idDossier.id %}
									<tr>
										<td>
											{{ candidat.nomCandidat }}
											-
											{{ candidat.prenomCandidat }}
										</td>
										<td>
											{% for quiz in dossier.idNorme.quizzes %}
												<a href="{{ path('app_frontend_test_theorique_start', {'id': quiz.id, 'id_candidat': candidat.id}) }}">
													{{ quiz.intitule }}
												</a>
											{% endfor %}
										</td>
										<td>
											<table>
												{% for resultat in candidat.userQuizResults %}
													<tr>
														<td>
															{{ resultat.quiz.intitule }}
														</td>
														{% if is_granted('ROLE_ADMIN') %}
															{{ form_start(form[resultat.id]) }}
															<td>
																{{ form_widget(form[resultat.id].dateTest) }}
															</td>
															<td>
																{{ form_widget(form[resultat.id].enregistrer) }}
															</td>
															{{ form_end(form[resultat.id]) }}
														{% else %}
															<td>
																{{ resultat.dateTest|date("d/m/Y") }}

															</td>
														{% endif %}
														<td>
															{% if resultat.result is same as ('ECHEC') %}
																<i class="fa-solid fa-square-xmark text-danger"></i>
															{% else %}
																<i class="fa-solid fa-square-check text-success"></i>
															{% endif %}
															{{ resultat.result}}
															<a href="{{ path('app_candidat_test_theo_result', {'id': candidat.id, 'id_quiz': resultat.id}) }}" target="_blank">
																<i class="fa-solid fa-file-pdf"></i>
															</a>
															-
															<a href="{{ path('app_frontend_test_theo_delete', {'id': resultat.id}) }}" class="text-danger" onclick="return confirm('Etes-vous sûr de supprimer ce test ?');">
																<i class="fa-solid fa-trash-can "></i>
															</a>
														</td>
													</tr>
												{% endfor %}
											</table>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
