{% extends 'base2.html.twig' %}

{% block title %}Test théorique
{% endblock %}

{% block body %}
	<form method="post" action="{{ path('app_frontend_test_theorique_save', {'id': quiz.id, 'id_candidat': candidat.id} ) }}" onsubmit="return confirm('Etes-vous sûr de valider ces réponses ?');">
		<table class="bg-white">
			{% set increment = 1 %}
			{% for theme in themes %}
				<tr>
					<th colspan="2">Theme
						{{ theme.ordre }}
						-
						{{ theme.intitule }}
						({{theme.pts}}
						points)</th>
				</tr>
				{% for sousTheme in theme.sousThemes %}
					<tr>
						<td class="text-white bg-danger" colspan="2">{{ sousTheme.intitule }}</td>
					</tr>
					{% for question in sousTheme.questions %}
						<tr>
							<td class="text-dark">
								{% if question.photo is defined %}
									{% if question.photo is not same as("") %}
										<img src="{{ asset("/images/CACES/tests/")}}{{candidat.idDossier.idNorme.label}}/{{question.photo}}" width="200px" class="img-fluid">
										{% else %}

									{% endif %}
								{% endif %}
								{{ question.intitule }}
							</td>
						</tr>
						<tr>
							<td>
								<center>
									{% for answer in question.answers %}

										<input type="radio" id="reponse[{{increment}}]" name="reponse[{{increment}}]" value="{{ answer.intitule }}">
										<label for="reponse[{{increment}}]">{{ answer.intitule }}</label>

									{% endfor %}
								</center>
								<hr>
							</td>
						</tr>
						{% set increment = increment + 1 %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</table>
		<input type="hidden" name="quiz" value="{{ quiz.id }}">
		<input type="submit" value="Enregistrer" class="btn btn-success">
	</form>
{% endblock %}
{% block javascripts %}
	{{ parent() }}{{ encore_entry_script_tags('function') }}
{% endblock %}
