{% extends 'base.html.twig' %}

{% block title %}Hello TestPratiqueController!
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<center>
			<h1>
				Candidat
				{{ candidat.nomCandidat }}
				-
				{{ dossier.idNorme.label }}
				-
				{{ categorieChoisie.label|convert_encoding('iso-8859-1', 'UTF-8')  }}
			</h1>
		</center>
		{# <div>
			A faire avant le test :
			<fieldset>
				<button id="theElement1" name="theElement1" data-id="{{ candidat.id }}" data-route="{{ path('app_modal_verif') }}" data-title="Vérification sur site" class='btn btn-info userinfo'>Vérification sur site</button>
				<button id="theElement2" name="theElement2" data-id="{{ candidat.id }}" data-route="{{ path('app_modal_verif') }}" data-title="Fiche de Présence" class='btn btn-info userinfo'>Fiche de Présence</button>
				<button id="theElement3" name="theElement3" data-id="{{ candidat.id }}" data-route="{{ path('app_modal_verif') }}" data-title="Fiche d'anomalie" class='btn btn-info userinfo'>Fiche d'anomalie</button>
			</fieldset>
		</div> #}
		<div>
			<form name="test_pratique" action="{{ path('app_candidat_test_pratique', {'idDossier': dossier.id, 'idCandidat': candidat.id, 'idCategorie': categorieChoisie.id }) }}" method="get">
				{{ test|raw }}
				<button class="btn btn-success" type="submit">
					{{ button_label|default('Enregistrer') }}</button>
				<input class="btn btn-danger" type="reset" value="Annuler">
			</form>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}{{ encore_entry_script_tags('function') }}
{% endblock %}
