{% extends 'base.html.twig' %}

{% block title %}Liste des dossiers
{% endblock %}

{% block body %}

	<h1>Liste des dossiers</h1>
	<center>
		Il y a actuellement
		{{ dossiers|length }}
		dossiers.<br/>
		<a href="{{ path('app_dossier_new') }}" class="btn btn-success link-dark">Ajouter un dossier</a>
	</center>

	<table id="formatedTable" class="table-bordered table-hover table-responsive">
		<thead>
			<tr>
				<th>Dossier</th>
				<th>Client</th>

				<th>
					Contact(s)
				</th>
				<th>
					Type
				</th>
				{# <th>Adresse Intervention</th> #}
				<th>
					Norme
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			{% set style = 'row-b' %}
			{% for dossier in dossiers %}
				<tr>
					<td>
						{{ dossier.numDossier }}
					</td>
					<td>
						{{ dossier.idClient }}
					</td>
					<td>
						{% if dossier.idClient.contactClients is defined %}
							{% if dossier.idClient.contactClients|length > 0 %}
								{% for contact in dossier.idClient.contactClients %}
									{{ contact.nom }}
									{{ contact.prenom}}
									{{ contact.telephone1}}
									<br/>
								{% endfor %}
							{% else %}
								<form action="{{path('app_dossier_edit', {'id': dossier.id}) }}" method="post">
									<input type="hidden" name="dossier" value="{{ dossier.id }}">
									<button type="submit" class="btn btn-sm btn-success link-white w-75 disabled">
										<i class="fa-regular fa-address-book"></i>Contact</a>
								</form>
							{% endif %}
						{% else %}
							<form action="{{path('app_dossier_edit', {'id': dossier.id}) }}" method="post">
								<input type="hidden" name="dossier" value="{{ dossier.id }}">
								<button type="submit" class="btn btn-sm btn-success link-white w-75 disabled">
									<i class="fa-regular fa-address-book"></i>Contact</a>
							</form>
						{% endif %}
					</td>
					<td>{{ dossier.type }}</td>
					<td>{{ dossier.idNorme }}</td>
					<td>
						<a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">
							<i class="fa-regular fa-eye"></i>
						</a>
						<a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">
							<i class="fa-solid fa-file-pen"></i>
						</a>
						<a href="{{ path('app_dossier_add_candidat', {'id': dossier.id}) }}">
							<i class="fa-solid fa-user-plus"></i>
						</a>
						<a href="{{ path('app_dossier_pdf', {'id': dossier.id}) }}" target="_blank">
							<i class="text-danger fa-solid fa-file-pdf"></i>
						</a>



						
						{# <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}"> #}
					{# <i class="fa-solid fa-file-pdf"></i> #}
						{# </a> #}
					</td>
					{# <td>{{ dossier.adresseIntervention }} #}
					{# {{ dossier.cpIntervention }}{{ dossier.villeIntervention }} #}
				</tr>
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}
