{% extends 'base.html.twig' %}

{% block title %}Liste des dossiers
{% endblock %}

{% block body %}

	<h1>Liste des dossiers</h1>
	<center>
		Il y a actuellement
		{{ dossiers|length }}
		dossiers.<br/>
		<a href="{{ path('app_dossier_new') }}">Ajouter un dossier</a>
	</center>
	{# Moteur de recherche #}
	<hr>
	<div class="container container-fluid">
		<div class="row justify-content-evenly">
			<div class="col-lg-12">
				{{ form_start(form) }}
				<div class="form-group row">
					<div class="row justify-content-evenly">
						<div class="col-lg-4 col-12">
							{{ form_label(form.numDossier)}}
							{{ form_widget(form.numDossier)}}
							{{ form_errors(form.numDossier) }}
						</div>
						<div class="col-lg-4 col-12">
							{{ form_label(form.idClient)}}
							{{ form_widget(form.idClient)}}
							{{ form_errors(form.idClient) }}
						</div>
						<div class="col-lg-4 col-12">
							{{ form_row(form.submit) }}
							<a href="{{ path('app_dossier_index') }}" class="form-control btn btn-danger link-dark">Réinitialliser</a>
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<hr>
	{# Fin moteur de recherche #}
	<div class="table-responsive">
		<table class="table-bordered table-hover">
			<thead>
				<tr>
					<th>Dossier</th>
					{# <th>Facture</th> #}
					<th>Début</th>
					<th>Fin</th>
					<th>Type</th>
					<th>Adresse Intervention</th>
					<th>Norme</th>
					<th>Client</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% set style = 'row-b' %}
				{% for dossier in dossiers %}
					<tr>
						<td>{{ dossier.numDossier }}</td>
						{# <td>{{ dossier.numFacture }}</td> #}
						<td>{{ dossier.dateDebut ? dossier.dateDebut|date('d/m/Y') : '' }}</td>
						<td>{{ dossier.dateFin ? dossier.dateFin|date('d/m/Y') : '' }}</td>
						<td>{{ dossier.type }}</td>
						<td>{{ dossier.adresseIntervention }}
							{{ dossier.cpIntervention }}
							{{ dossier.villeIntervention }}</td>
						<td>{{ dossier.idNorme }}</td>

						<td>{{ dossier.idClient }}</td>
						<td>
							<a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">
								<i class="fa-regular fa-eye"></i>
							</a>
							<a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">
								<i class="fa-solid fa-file-pen"></i>
							</a>
							<a href="{{ path('app_dossier_add_candidat', {'id': dossier.id}) }}">
								<i class="fa-solid fa-user-plus"></i>
							</a>
							{# <a href="{{ path('app_dossier_show', {'id': dossier.id}) }}"> #}
						{# <i class="fa-solid fa-file-pdf"></i> #}
							{# </a> #}
						</td>
					</tr>
					{% if contacts is defined %}

						{% else %}
							<td colspan="7">
								Pas de contact trouvé<br>
								<a href="#">
									<i class="fa-solid fa-address-book"></i></i>
									Ajouter un contact (En cours de réalisation)
								</a>
							</td>
							<td></td>
						</a>
					</td>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}
