{% extends 'base.html.twig' %}

{% block title %}Dossier
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>
			Dossier
			{{ dossier.numDossier }}
			<a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">
				<i class="fa-solid fa-file-pen"></i>
			</a>
		</h1>

		<table>
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ dossier.id }}</td>
				</tr>
				<tr>
					<th>N° Facture</th>
					<td>{{ dossier.numFacture }}</td>
				</tr>
				<tr>
					<th>Date Début</th>
					<td>{{ dossier.dateDebut ? dossier.dateDebut|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Date de Fin</th>
					<td>{{ dossier.dateFin ? dossier.dateFin|date('Y-m-d') : '' }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ dossier.type }}</td>
				</tr>
				<tr>
					<th>Adresse Intervention</th>
					<td>{{ dossier.adresseIntervention }}</td>
				</tr>
				<tr>
					<th>N° Dossier</th>
					<td>{{ dossier.numDossier }}</td>
				</tr>
				<tr>
					<th>Ville Intervention</th>
					<td>{{ dossier.villeIntervention }}</td>
				</tr>
				<tr>
					<th>CP Intervention</th>
					<td>{{ dossier.cpIntervention }}</td>
				</tr>
				<tr>
					<th>Commentaires</th>
					<td>{{ dossier.commentaires }}</td>
				</tr>
				<tr>
					<th>Codeagence</th>
					<td>{{ dossier.codeagence }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_dossier_index') }}">Retour à la liste des dossiers</a>

		{{ include('dossier/_delete_form.html.twig') }}
	</section>
{% endblock %}
