<div class="container container-fluid">
	<div class="row justify-content-evenly">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{# {{ form_widget(form) }} #}
			<div class="form-group">
				<div class="row justify-content-evenly">
					<div class="col-lg-4 col-12">
						{{ form_row(form.username, {'label': 'Nom (*) :', 'attr' : {'placeholder': 'Login', 'class': 'form-control' } })}}
					</div>
					<div class="col-lg-4 col-12">
						{{ form_row(form.roles, {'label': 'Niveau (*) :', 'attr' : {'placeholder': 'Login', 'class': 'form-select' } })}}
					</div>
				</div>
				<br/>
				<div class="row justify-content-evenly">
					<div class="col-lg-4 col-12">
						{{ form_row(form.password, {'label': 'Mot de passe (*) :', 'attr' : {'placeholder': 'Mot de passe', 'class': 'form-control' } })}}
					</div>
					<div class="col-lg-4 col-12">
						{{ form_row(form.society, {'label': 'Mot de passe (*) :', 'attr' : {'placeholder': 'Mot de passe', 'class': 'form-control' } })}}
					</div>
				</div>
				<div class="row justify-content-evenly">
					<div class="col-lg-4 col-12">
						<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
					</div>
				</div>
			</div>
		</div>
		<br><br>

	</div>
</div>
{{ form_end(form) }}</div>
