{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<h1>Admin</h1>

	<table table-bordered table-hover table-responsive>
		<tbody>
			<tr>
				<th>Login</th>
				<td>{{ admin.username }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ admin.roles ? admin.roles|json_encode : '' }}</td>
			</tr>

			<tr>
				<th>Société</th>
				<td>{{ admin.society }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_index') }}">Retour à la liste des utilisateurs</a>

	<a href="{{ path('app_admin_edit', {'id': admin.id}) }}">Modifier</a>

	{{ include('admin/_delete_form.html.twig') }}

{% endblock %}
