<div class="container container-fluid">
	<div class="row justify-content-evenly">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{# {{ form_widget(form) }} #}
			<div class="form-group">
				<div class="row justify-content-evenly">
					<div class="col-lg-4 col-12">
						{{ form_row(form.nomClient, {'label': 'Nom de la société (*) :', 'attr' : {'placeholder': 'Nom du client', 'class': 'form-control' } })}}
					</div>
					<div class="col-lg-4 col-12">
						{{ form_row(form.codeagence, {'label': 'Code agence (*) :', 'attr' : {'placeholder': 'Code agence', 'class': 'form-control' } })}}
					</div>
				</div>

			</div>
			<br/>
			<div class="form-group">
				<div class="row justify-content-evenly">
					<div class="col-lg-4 col-12">
						{{ form_row(form.adresseClient, {'label': 'Adresse du client (*) :', 'attr' : {'placeholder': 'Adresse du client', 'class': 'form-control' } })}}
					</div>
					<div class="col-lg-4 col-12">
						{{ form_row(form.cpClient, {'label': 'Code postal (*) :', 'attr' : {'placeholder': 'Code postal', 'class': 'form-control' } })}}
					</div>
					<div class="col-lg-4 col-12">
						{{ form_row(form.villeClient, {'label': 'Ville (*) :', 'attr' : {'placeholder': 'Ville', 'class': 'form-control' } })}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
</div>
