{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}

	<h1>Liste des sociétés clientes</h1>

	<center>
		Il y a actuellement
		{{ clients|length }}
		sociétés.<br/>
		<a href="{{ path('app_client_new') }}">Créer une nouvelle société cliente</a>
	</center>
	{# Moteur de recherche #}
	<hr>
	<div class="container container-fluid">
		<div class="row justify-content-evenly">
			<div class="col-lg-12">
				{{ form_start(form) }}
				<div class="form-group row">
					<div class="row justify-content-evenly">
						<div class="col-lg-4 col-12">
							{{ form_label(form.client)}}
							{{ form_widget(form.client)}}
							{{ form_errors(form.client) }}
						</div>
						<div class="col-lg-4 col-12">
							{{ form_label(form.ville)}}
							{{ form_widget(form.ville)}}
							{{ form_errors(form.ville) }}
						</div>
						<div class="col-lg-4 col-12">
							{{ form_row(form.submit) }}
							<a href="{{ path('app_candidat_index') }}" class="form-control btn btn-danger link-dark">Réinitialliser</a>
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<hr>
	{# Fin moteur de recherche #}
	<table id="formatedTable" class="table-bordered table-hover table-responsive">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>CP</th>
				<th>Ville</th>
				<th>Codeagence</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if clients %}
				{% set style = 'row-b' %}
				{% for client in clients %}
					{% if style == 'row-b' %}
						{% set style = 'row-a' %}
					{% else %}
						{% set style = 'row-b' %}
					{% endif %}
					<tr class="{{ style }}">
						<td>{{ client.id }}</td>
						<td>{{ client.nomClient }}</td>
						<td>{{ client.adresseClient }}</td>
						<td>{{ client.cpClient }}</td>
						<td>{{ client.villeClient }}</td>
						<td>{{ client.codeagence }}</td>
						<td>
							<a href="{{ path('app_client_show', {'id': client.id}) }}" alt="Consulter">
								<i class="fa-regular fa-eye"></i>
							</a>
							<a href="{{ path('app_client_edit', {'id': client.id}) }}" alt="Modifier">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endif %}
		</tbody>
	</table>

{% endblock %}
