{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Client</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ client.id }}</td>
				</tr>
				<tr>
					<th>NomClient</th>
					<td>{{ client.nomClient }}</td>
				</tr>
				<tr>
					<th>AdresseClient</th>
					<td>{{ client.adresseClient }}</td>
				</tr>
				<tr>
					<th>CpClient</th>
					<td>{{ client.cpClient }}</td>
				</tr>
				<tr>
					<th>VilleClient</th>
					<td>{{ client.villeClient }}</td>
				</tr>
				<tr>
					<th>Codeagence</th>
					<td>{{ client.codeagence }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_client_index') }}">back to list</a>

		<a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

		{{ include('client/_delete_form.html.twig') }}
	</section>
{% endblock %}
