{% extends 'base.html.twig' %}

{% block title %}News index
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>Liste des news</h1>

		<center>
			<a href="{{ path('app_news_new') }}">Créer une news</a>
		</center>

		<table>
			<thead>
				<tr>
					<th>Auteur</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Dateajout</th>
					<th>Datemodif</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for news in news %}
					<tr>
						<td>{{ news.auteur }}</td>
						<td>{{ news.titre }}</td>
						<td>{{ news.contenu }}</td>
						<td>{{ news.dateajout ? news.dateajout|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ news.datemodif ? news.datemodif|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_news_show', {'id': news.id}) }}">
								<i class="fa-regular fa-eye"></i>
							</a>
							<a href="{{ path('app_news_edit', {'id': news.id}) }}">
								<i class="fa-solid fa-file-pen"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	</section>
{% endblock %}
