{% extends 'base.html.twig' %}

{% block title %}Candidat
{% endblock %}

{% block body %}

	<h1>Candidat
		{{ candidat.nomCandidat|upper }}
		{{ candidat.prenomCandidat }}
		<a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">
			<i class="fa-solid fa-user-pen"></i>
		</a>
	</h1>
	<table>
		<tbody>
			<tr class="row-a">
				<th>Id</th>
				<td>{{ candidat.id }}</td>
			</tr>
			<tr class="row-b">
				<th>NomCandidat</th>
				<td>{{ candidat.nomCandidat }}</td>
			</tr>
			<tr class="row-a">
				<th>PrenomCandidat</th>
				<td>{{ candidat.prenomCandidat }}</td>
			</tr>
			<tr class="row-b">
				<th>DateNaissance</th>
				<td>{{ candidat.dateNaissance ? candidat.dateNaissance|date('d-m-Y') : '' }}</td>
			</tr>
			<tr class="row-a">
				<th>DureeExperience</th>
				<td>{{ candidat.dureeExperience }}</td>
			</tr>
			<tr class="row-b">
				<th>HeureFormation</th>
				<td>{{ candidat.heureFormation }}</td>
			</tr>
			<tr class="row-a">
				<th>DateTheorique</th>
				<td>{{ candidat.dateTheorique ? candidat.dateTheorique|date('d-m-Y') : '' }}</td>
			</tr>
			<tr class="row-b">
				<th>DatePratique</th>
				<td>{{ candidat.datePratique ? candidat.datePratique|date('d-m-Y') : '' }}</td>
			</tr>
			<tr class="row-a">
				<th>NoteFormation</th>
				<td>{{ candidat.noteFormation }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_candidat_index') }}">Retour à la liste des candidats</a>


	{{ include('candidat/_delete_form.html.twig') }}

{% endblock %}
