{% extends 'base.html.twig' %}

{% block title %}Theme index
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 bg-opacity-25">
		<h1>{{ norme.label }}
			-
			{{ categorie.label }}</h1>
		<h1>Liste des thèmes</h1>
		<a href="{{ path('app_categorie_add_theme', {'id': categorie.id}) }}">Ajouter un nouveau thème</a>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Ordre</th>
					<th>Label</th>
					<th>Pts1</th>
					<th>Pts2</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for theme in themes %}
					<tr>
						<td>{{ theme.id }}</td>
						<td>{{ theme.ordre }}</td>
						<td>{{ theme.label }}</td>
						<td>{{ theme.pts1 }}</td>
						<td>{{ theme.pts2 }}</td>
						<td>
							<a href="{{ path('app_theme_show', {'id': theme.id}) }}">
								<i class="fa-regular fa-eye"></i>
							</a>
							<a href="{{ path('app_theme_edit', {'id': theme.id}) }}">
								<i class="fa-solid fa-file-pen"></i>
							</a>
							<a href="{{ path('app_theme_list_consigne', {'id': theme.id }) }}">
								<i class="fa-solid fa-folder-tree"></i>
							</a>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Pas d"enregistrement trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_norme_list_categories', {'id': norme.id }) }}">Retour à la liste des catégories</a>
	</section>
{% endblock %}
